.s-users--page {
  .s-users--header {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

.s-users {
  margin-left: -2rem;
  margin-right: -2rem;

  @include media-query($extra-small) {
    margin-left: 0;
    margin-right: 0;
  }

  .s-users--user-list-item {
    width: 25%;
    float: left;
    padding: 0 2rem;
    margin-bottom: 4rem;

    @include media-query($large) {
      width: calc(100% / 3);
    }

    @include media-query($medium) {
      width: 50%;
    }

    @include media-query($extra-small) {
      width: 100%;
      padding: 0;
    }
  }

  .s-user--avatar-wrapper {
    position: relative;
    width: 100%;
  }

  .s-user--collection-user--name {
    margin-bottom: 2rem;
    display: block;
  }
}
