@import url("https://fonts.googleapis.com/css?family=VT323");
/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
* {
  box-sizing: border-box;
  color: #49DC0F;
  font-weight: 100;
  font-family: 'VT323', monospace; }

html {
  font-size: 62.5%; }

body {
  background-color: #000;
  padding: 2rem;
  font-size: 2rem; }

.b-page-width {
  max-width: 1300px;
  display: block;
  margin: 0 auto; }

.b-notification {
  height: 100px;
  width: 200px;
  border: 1px solid #000;
  margin: 0 auto; }

.b-dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1000; }

.b-grid--10,
.b-grid--20,
.b-grid--25,
.b-grid--30,
.b-grid--33,
.b-grid--40,
.b-grid--50,
.b-grid--60,
.b-grid--70,
.b-grid--80,
.b-grid--90,
.b-grid--10-m,
.b-grid--20-m,
.b-grid--25-m,
.b-grid--30-m,
.b-grid--33-m,
.b-grid--40-m,
.b-grid--50-m,
.b-grid--60-m,
.b-grid--70-m,
.b-grid--80-m,
.b-grid--90-m,
.b-grid--10-sm,
.b-grid--20-sm,
.b-grid--25-sm,
.b-grid--30-sm,
.b-grid--33-sm,
.b-grid--40-sm,
.b-grid--50-sm,
.b-grid--60-sm,
.b-grid--70-sm,
.b-grid--80-sm,
.b-grid--90-sm {
  display: inline-block; }

.b-grid--10 {
  width: 10% !important; }

.b-grid--20 {
  width: 20% !important; }

.b-grid--25 {
  width: 25% !important; }

.b-grid--30 {
  width: 30% !important; }

.b-grid--33 {
  width: 33% !important; }

.b-grid--40 {
  width: 40% !important; }

.b-grid--50 {
  width: 50% !important; }

.b-grid--60 {
  width: 60% !important; }

.b-grid--70 {
  width: 70% !important; }

.b-grid--80 {
  width: 80% !important; }

.b-grid--90 {
  width: 90% !important; }

.b-grid--100 {
  width: 100% !important; }

@media only screen and (max-width: 800px) {
  .b-grid--10-m {
    width: 10% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--20-m {
    width: 20% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--25-m {
    width: 25% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--30-m {
    width: 30% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--33-m {
    width: 33% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--40-m {
    width: 40% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--50-m {
    width: 50% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--60-m {
    width: 60% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--70-m {
    width: 70% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--80-m {
    width: 80% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--90-m {
    width: 90% !important; } }

@media only screen and (max-width: 800px) {
  .b-grid--100-m {
    width: 100% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--10-sm {
    width: 10% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--20-sm {
    width: 20% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--25-sm {
    width: 25% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--30-sm {
    width: 30% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--33-sm {
    width: 33% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--40-sm {
    width: 40% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--50-sm {
    width: 50% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--60-sm {
    width: 60% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--70-sm {
    width: 70% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--80-sm {
    width: 80% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--90-sm {
    width: 90% !important; } }

@media only screen and (max-width: 600px) {
  .b-grid--100-sm {
    width: 100% !important; } }

.s-user .s-user--avatar-wrapper {
  position: relative;
  max-width: 40rem; }

.s-user--avatar {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #49DC0F;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .s-user--avatar .s-user--avatar-cell {
    position: relative;
    padding-top: 12.5%;
    width: 12.5%;
    display: inline-block; }
    .s-user--avatar .s-user--avatar-cell .s-user--avatar-cell-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .s-user--avatar .s-user--avatar-cell .s-user--avatar-cell-inner.s-user--avatar-cell-inner--editable {
        cursor: pointer; }

.s-users .s-user--avatar-wrapper {
  position: relative;
  max-width: 30rem; }

/*# sourceMappingURL=style.css.map */
