* {
  box-sizing: border-box !important;
  color: $green;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
  }
}

html {
  box-sizing: border-box;
  color: $green;
  font-weight: 100;
  font-family: 'VT323', monospace;
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #000;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: $content-padding;
  padding-right: $content-padding;
  font-size: 2rem;
  min-height: 100vh;

  @include media-query($small) {
    padding-top: 13rem;
    padding-left: $content-padding-small;
    padding-right: $content-padding-small;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 4rem;
  font-size: 1.7rem;
  color: $gray-light;
}

//------------  GENERAL ---------------------------------------------------- //

.b-page-width {
  max-width: $page-width;
  display: block;
  margin: 0 auto;
}

//------------  BACKGROUND ------------------------------------------------- //

.b-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  opacity: 0.25;
  overflow: hidden;
  transition: 1s opacity ease;

  &.b-background-hidden {
    opacity: 0;
  }
}

//------------  MESSAGE WINDOW --------------------------------------------- //


.b-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-15rem) translateY(-50%);
  width: 30rem;
  padding: 5rem $content-padding;
  box-shadow: 0 0 5px $black;
  background-color: $gray-dark;
  cursor: pointer;
  opacity: 1;
  z-index: 9999;

  &.b-notification--success {
    border: 2px solid $green;

    p {
      color: $green;
    }
  }

  &.b-notification--error {
    border: 2px solid $error-red;

    p {
      color: $error-red;
    }
  }

  p {
    font-size: 2rem;
    text-align: center;
  }
}

.b-notification--wrapper {
  transition: opacity 0.5s ease;

  &.b-notification--hidden {
    opacity: 0;
  }
}

//------------  OVERLAYS --------------------------------------------------- //

.b-dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black;
  opacity: 0.3;
  z-index: 9998;
}

//------------  GRID ------------------------------------------------------- //

.b-grid--10,
.b-grid--20,
.b-grid--25,
.b-grid--30,
.b-grid--33,
.b-grid--40,
.b-grid--50,
.b-grid--60,
.b-grid--70,
.b-grid--80,
.b-grid--90,
.b-grid--10-m,
.b-grid--20-m,
.b-grid--25-m,
.b-grid--30-m,
.b-grid--33-m,
.b-grid--40-m,
.b-grid--50-m,
.b-grid--60-m,
.b-grid--70-m,
.b-grid--80-m,
.b-grid--90-m,
.b-grid--10-sm,
.b-grid--20-sm,
.b-grid--25-sm,
.b-grid--30-sm,
.b-grid--33-sm,
.b-grid--40-sm,
.b-grid--50-sm,
.b-grid--60-sm,
.b-grid--70-sm,
.b-grid--80-sm,
.b-grid--90-sm {
  display: inline-block;
}

.b-grid--10 {
  width: 10% !important;
}

.b-grid--20 {
  width: 20% !important;
}

.b-grid--25 {
  width: 25% !important;
}

.b-grid--30 {
  width: 30% !important;
}

.b-grid--33 {
  width: 33% !important;
}

.b-grid--40 {
  width: 40% !important;
}

.b-grid--50 {
  width: 50% !important;
}

.b-grid--60 {
  width: 60% !important;
}

.b-grid--70 {
  width: 70% !important;
}

.b-grid--80 {
  width: 80% !important;
}

.b-grid--90 {
  width: 90% !important;
}

.b-grid--100 {
  width: 100% !important;
}


// Grid for medium screen sizes

.b-grid--10-m {
  @include media-query($medium) {
    width: 10% !important;
  }
}

.b-grid--20-m {
  @include media-query($medium) {
    width: 20% !important;
  }
}

.b-grid--25-m {
  @include media-query($medium) {
    width: 25% !important;
  }
}

.b-grid--30-m {
  @include media-query($medium) {
    width: 30% !important;
  }
}

.b-grid--33-m {
  @include media-query($medium) {
    width: 33% !important;
  }
}

.b-grid--40-m {
  @include media-query($medium) {
    width: 40% !important;
  }
}

.b-grid--50-m {
  @include media-query($medium) {
    width: 50% !important;
  }
}

.b-grid--60-m {
  @include media-query($medium) {
    width: 60% !important;
  }
}

.b-grid--70-m {
  @include media-query($medium) {
    width: 70% !important;
  }
}

.b-grid--80-m {
  @include media-query($medium) {
    width: 80% !important;
  }
}

.b-grid--90-m {
  @include media-query($medium) {
    width: 90% !important;
  }
}

.b-grid--100-m {
  @include media-query($medium) {
    width: 100% !important;
  }
}

// Grid for small screen sizes

.b-grid--10-sm {
  @include media-query($small) {
    width: 10% !important;
  }
}

.b-grid--20-sm {
  @include media-query($small) {
    width: 20% !important;
  }
}

.b-grid--25-sm {
  @include media-query($small) {
    width: 25% !important;
  }
}

.b-grid--30-sm {
  @include media-query($small) {
    width: 30% !important;
  }
}

.b-grid--33-sm {
  @include media-query($small) {
    width: 33% !important;
  }
}

.b-grid--40-sm {
  @include media-query($small) {
    width: 40% !important;
  }
}

.b-grid--50-sm {
  @include media-query($small) {
    width: 50% !important;
  }
}

.b-grid--60-sm {
  @include media-query($small) {
    width: 60% !important;
  }
}

.b-grid--70-sm {
  @include media-query($small) {
    width: 70% !important;
  }
}

.b-grid--80-sm {
  @include media-query($small) {
    width: 80% !important;
  }
}

.b-grid--90-sm {
  @include media-query($small) {
    width: 90% !important;
  }
}

.b-grid--100-sm {
  @include media-query($small) {
    width: 100% !important;
  }
}


//------------  FORMS ------------------------------------------------------ //

.b-form--input {
  border: 1px solid $gray-light;
  padding: 0.5rem;
  font-family: 'VT323', monospace;
  font-size: 1.6rem;
  color: $gray-dark;
  resize: none;
}


//------------  BUTTONS ---------------------------------------------------- //

.b-btn {
  border: 1px solid $gray-light;
  background-color: $gray-medium;
  padding: 0.5rem 1.5rem;
  font-family: 'VT323', monospace;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none !important;

  &:hover {
    background-color: $green;
    color: $gray-dark;
  }
}


//------------  MISC ------------------------------------------------------- //

.b-clearfix {
  overflow: auto;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.b-single-message {
  display: block;
  width: 100%;
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
