// ******** COLORS *********** //

$black: #000000;
$gray-dark: #1a1a1b;
$gray-medium-dark: #29292B;
$gray-medium: #343536;
$gray-light: #818384;
$gray-extra-light: #BDBEBE;
$white: #ffffff;
$green: #49DC0F;
$error-red: #b00b00;

// ****************************************** //

// Typography

@import url('https://fonts.googleapis.com/css?family=VT323');


// page max-width
$page-width: 1500px;

$content-padding: 4rem;
$content-padding-small: 2rem;

// Breakpoints used with the media mixin
$extra-small: 'extra-small';
$small: 'small';
$medium: 'medium';
$large: 'large';
$widescreen: 'widescreen';

$breakpoints: (
  $extra-small '(max-width: 400px)',
  $small '(max-width: 600px)',
  $medium '(max-width: 800px)',
  $large '(max-width: 1000px)',
  $widescreen '(min-width: 1300px)'
);
